<script src="javascripts/contact.js"></script>


<div class="container-fluid section4">
    <div class="parallax2" data-parallax="scroll" data-image-src="../img/bg3.jpg" data-z-index="1">
        <div class="row s4-context"><div class="col-sm-12 text-center"><h3 class="s4-title mb-4">Contact </h3></div></div>
        <div class="row s4-context">
          <div class="col-sm-3 text-center s4-img s4-col">
            <div class="hovereffect">
              <img src="../img/te1.gif" width="100%"/>
              
            </div>
          </div>
          <div class="col-sm-3 text-center s4-img  s4-col">
              <div class="hovereffect">
                  <img src="../img/string1.gif" width="100%"/>
                  
                </div>
          </div>
          <div class="col-sm-3 text-center  s4-img  s4-col">
              <div class="hovereffect">
                  <img src="../img/stringcube.gif" width="100%"/>
                 
                </div>
          </div>
          <div class="col-sm-3 text-center  s4-img s4-col">
              <div class="hovereffect">
                  <img src="../img/stringcube2.gif" width="100%"/>
                  <div class="overlay">
                      <h2>String</h2>
                      <p>
                        <a> String~~~</a>
                      </p>
                  </div>
                </div>
          </div>
        </div>
    </div>
</div>






<div class="contactcontainer">

  <div class="section-title">
      <h3>
          <span></span>
      </h3>
  </div>

  <form name="contact_form" class="default-form " action = "send"  id= "contact-form" method="post" enctype = "multipart/form-data" >
      <div class="row">
          <div class=" col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                  <input type="text" name="FirstName" placeholder="FirstName" required="">
              </div>
              <div class="form-group">
                      <input type="email" name="Email" placeholder="Email" required="">
                  </div>
          </div>

      
          <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                          <input type="text" name="LastName" placeholder="LastName" required="">
                      </div>
             
              <div class="form-group">
                  <input type="text" name="Phone" placeholder="Phone" required="">
              </div>
      
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                  <textarea name="form_message" cols="50" rows="10" placeholder="Your Message" required=""></textarea>
              </div>           
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn-style-one">Submit</button>
          </div>


      </div>
  </form>


</div>
