<div class="container-fluid footer-main">
    <div class="row">
      <div class="col-sm-12 text-center">
        <ul class="footer-list"> 
          <a href="https://www.facebook.com/chao.zeng" data-toggle="tooltip" title="Facebook Chao Zeng"><li class="d-inline mx-2"><i class="fab fa-facebook-f"></i></li></a>         
          <a href="https://www.twitter.com/chaozeng/" data-toggle="tooltip" title="Twitter Chao Zeng"><li class="d-inline mx-2"><i class="fab fa-twitter"></i></li></a>
          <a href="https://www.instagram.com/chaozeng/" data-toggle="tooltip" title="Instagram Chao Zeng"><li class="d-inline mx-2"><i class="fab fa-instagram"></i></li></a>
          <a href="https://www.github.com/cz101" data-toggle="tooltip" title="GitHub Chao Zeng"><li class="d-inline mx-2"><i class="fab fa-github"></i></li></a>
          <a href="WeChat:inchesawayfromoasis" data-toggle="tooltip" title="WeChat Chao Zeng" > <li class="d-inline mx-2"><i class="fab fa-weixin"></i></li></a>
        </ul>
      </div>s
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
          <p class="footer-text"> &copy; Copyright 2021. All Rights Reserved & Designed by <span class="footer-name"></span>C.Z</p>
        </div>
    </div>
  </div>   