<head>
    <form class="logout_form" action="/logout" method="GET">
        <button type="submit">Log Out</button>
    </form>

    <div >
        <nav class="navbar navbar-expand-lg navbar-light mt-4">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">            
                    <li class="nav-item">
                        <a class="nav-link effect-underline" href="/home">About Me</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Works
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/works/future">Forward</a>
                        <a class="dropdown-item" href="/works/work">Tech</a>
                       
                    
                        </div>
                  </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Sparetime
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/sparetimes/sports">Sports</a>
                        <a class="dropdown-item" href="/sparetimes/books">Reading</a>
                        <a class="dropdown-item" href="/sparetimes/interests">Interests</a>
                        <a class="dropdown-item" href="/sparetimes/socialzone">social</a>
                    </div>

                        </div>
                    </li>
              
                    <li class="nav-item">
                        <a class="nav-link effect-underline" href="/contact">Contact</a>
                    </li> 
                </ul>
            </div>
          </nav>
        
      </div>
    

    
</head>