<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/all.css">
    <link rel="stylesheet" href="stylesheets/styles.css">


 <!-- jQuery, Popper.js, Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script defer src="javascripts/popper.min.js" ></script>
 <script defer src="javascripts/bootstrap.min.js"></script>
 <script  defer src="javascripts/parallax.min.js"></script>  
 <!-- <script src="../js/jquery-3.3.1.slim.min.js" ></script> -->  

    <title>chaowow</title>


    
</head>
<body>

    <div class="wrapper">
        <%- include('../partials/otherheader.ejs') %>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>