<div class="intro">
    <div class="homeparallax" data-parallax="scroll" data-image-src="/img/bg4.jpg" data-z-index="1">
       
        <p> under construction</p>

    </div>

   
    </div>
  </div>