<div class="intro">
    <div class="homeparallax" data-parallax="scroll" data-image-src="/img/bg4.jpg" data-z-index="1">
      
      <div class="row intro-content mx=1">
        <div class="col-md-1 intro-text">
          <div>
            <h1 class="intro-title">My</h1>
            <p class="intro-sub">...</p>            
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-9 intro-text">
          <div>
            <h1 class="intro-title">Intro</h1>
            <p class="intro-sub"> To challenge myself by cultivating the curiosity, to complete the incomplete by increasing the knowledge. Not to dwell the past and settle in the present instead of looking forward to explore the future. Trying to be a better version of myself and how far I can go.</p>            
          </div>
        </div>

   
    </div>
  </div>