<div class="intro">
    <div class="homeparallax" data-parallax="scroll" data-image-src="/img/bg4.jpg" data-z-index="1">
      
      <div class="row intro-content mx=1">
        <div class="col-md-1 intro-text">
          <div>
            <h1 class="intro-title">My</h1>
            <p class="intro-sub">...</p>            
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-9 intro-text">
          <div>
            <h1 class="intro-title">Intro</h1>
            <p class="intro-sub"> To challenge myself by cultivating the curiosity, to complete the incomplete by learning and abosorbing. Not to dwell the past, to settle in the present and always looking forward to the future. Trying to be the better version of myself and see how far I can go.</p>            
          </div>
        </div>

   
    </div>
  </div>