    <script src="javascripts/three.js"></script>
    <script src="javascripts/OrbitControls.js"></script>
    <script src="javascripts/future3d.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.2.0/Tween.js"></script>  -->
    <script src="javascripts/Tween.js"></script>

<div class="container-fluid section3">   
    <div class="row">
         <div class="col-sm-6 s3-content">
                   <div class="row">
                     <h3 class="s3-title">For better , what I belive </h3>
                   </div>
         
                    <div class="row"> 
                       <ul>
                           <li>Machine Learning / A.I</li>
                           <li>Automaization</li>
                           <li>Self improving</li>
                        </ul>
              
                  
                         <p>
      
                          Tech solutions for on IT fracture, DB design / setup,Ecommerce/Web building.</br>
                          Bridging the small businesses with a different culture background focus on improving people daily life quality by living with a organic and healty way..</br>
                          Welcome the creative, entrepreneurship ideas and strategic assessment and implementation.</br>
                          </p>
                         
                    </div>
                    <div class="row pt-4"> <a class="s3-button d-inline-block" href="../contact/">Contact Me</a></div>
         </div>
     
         <div class="col-sm-6">
             <div class="row" >
                               <div id="canvas">
                                      <script> init() </script>
                               </div>              
                 </div>
         </div>
     </div>
</div>     