    <script src="javascripts/three.js"></script>
    <script src="javascripts/OrbitControls.js"></script>
    <script src="javascripts/future3d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.2.0/Tween.js"></script>



<div class="container-fluid section3">
    
    <div class="row">
         <div class="col-sm-6 s3-content">
                   <div class="row">
                     <h3 class="s3-title">For better , what I belive </h3>
                   </div>
         
                    <div class="row s3-sub"> 
                       <ul>
                           <li>Machine Learning / A.I</li>
                           <li>Automaization</li>
                           <li>Self improving</li>
                        </ul>
                       <br>
                         <p> Bridging small businesses in different culture background, to help people to improve their life</p>
                         <p> Welcome the brillient ideas</p>
                         <p> Tech counsulting on IT frastrue, DB design / setup , Ecommerce/Web...</p>
                         <p></p>
                    </div>
                    <div class="row pt-4"> <a class="s3-button d-inline-block" href="../contact/">Contact Me</a></div>
         </div>
     
         <div class="col-sm-6">

             <div class="row" >

                       
                               <div id="canvas">
                                      <script> init() </script>
                               </div>
                       

   
               </div>

         </div>
     </div>   <!--end of row --> 
</div>       <!--end of container-fluid --> 
    

<!-- Footer -->