<div class="container-fluid section4">
    <div class="parallax2" data-parallax="scroll" data-image-src="../img/b.jpg" data-z-index="1">
        <div class="row s4-context"><div class="col-sm-12 text-center"><h3 class="s4-title mb-4"> </h3></div></div>
        <div class="row s4-context">
          <div class="col-sm-3 text-center s4-img s4-col">
            <div class="hovereffect">
              <img src="../img/h1.jpg" width="100%"/>
              <div class="overlay">
                  <h2>Front End</h2>
                  <p>
                    <a>HTML,Bootstrap,CSS,SCSS</a>
                    <a>Javescript,Typescript</a>
                    <a>Angula</a>
                    <a>Graphics Design/webGL</a>
                  </p>
              </div>
              
            </div>
          </div>
          <div class="col-sm-3 text-center s4-img  s4-col">
              <div class="hovereffect">
                  <img src="../img/h4.jpg" width="100%"/>
                  <div class="overlay">
                      <h2>Back End</h2>
                      <p>
                        <a>O/S: Windows Server, Linux, MacOS</a>
                        <a>DB: MySQL,Mango DB, Oracel</a>
                        <a>DevOPS: Jenkins w Decker Ansible</a>
                      <p>           
                  </div>
                </div>
          </div>
          <div class="col-sm-3 text-center  s4-img  s4-col">
              <div class="hovereffect">
                  <img src="../img/h1.jpg" width="100%"/>
                  <div class="overlay">
                      <h2>Programming </h2>
                      <p>
                        <a>Scripts; Python ; PHP</a>
                        <a>Object C; C#; Java</a>
                        <a>Web design, Node.js/React;Express</a>
                        <a>Apple Apps</a>
                      </p>
                      <p>
                        
                        </p>
                  </div>
                </div>
          </div>
          <div class="col-sm-3 text-center  s4-img s4-col">
              <div class="hovereffect">
                  <img src="../img/h4.jpg" width="100%"/>
                  <div class="overlay">
                      <h2>Machine Learing /Data Science </h2>
                      <p>
                        <a>Machine Learing:</a>
                        <a>Tensor flow</a>
                      </p>
                      <p>
                        <a>Data Science:</a>
                        <a>Modeling data</a>
                        </p>
                  </div>
                </div>
          </div>         
        </div>

     
    </div>
    
  </div>
<div class = "workresume"> <a href=" http://localhost:5000/works/work" title="Chao Zeng's resume" >My Resume</a></div>
  