<center>
  <h5>in order to view this page , you need able to access google</h5>
  <lable  id="error"></lable> 
</center>



<script src="javascripts/booksretrive.js"> </script>
<script>  checknyt () </script> 
<div class="bookintro">
  <div class="homeparallax" data-parallax="scroll" data-image-src="../img/book1.jpeg" data-z-index="1"  position ="fixed" top="50px">
  

    <div class="row intro-content mx=1">
     
      <div class="col-md-6 intro-text">
        <div>
          <h1 class="nytitle">Fiction</h1>
           <div>            
                  <table  id = "nytfic" > </table>
            </div>       
        </div>
      </div>
    
      <div class="col-md-6 intro-text">
        <div>
          <h1 class="nytitle">Non-Fiction</h1>
          <table  id="nytnonfic"></table>  
        </div>
      </div>

 
  </div>
</div>