<div class="container-fluid">
    <div class="row text-center">
        <h3 class="col-sm-12 sports-title mt-5">Books I Enjoyed ❤</h3>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 sports-sub"><a href="#" class="effect-shine">.....</a></div>
    </div>
    <div class="row">
      <div class="col-sm-6 s5-col">
          <div class="row">
            
            <div class="bookpost">
            <img src="/img/book1.jpeg "/>
            <div class="bookoverlay">
             <a href="/sparetimes/bookauthor"><h2  >Read</h2></a>   
                <p> “Reading a book is like re-writing it for yourself. You bring to a novel, anything you read, all your experience of the world. You bring your history and you read it in your own terms.” 
                    ― Angela Carter
                </p>                
            </div>
          </div></div>   
      </div>
      <div class="col-sm-6 s5-col">
          <div class="row"><div class="hovereffect2">
              <img src="/img/book1.jpeg" class="sports-img"/>
              <div class="overlay2">
               <a href="/sparetimes/booknylist"><h2  >More</h2></a>  
                          
                  <div class="row">
                  
                  <div class="col-sm-6">

                      <p>
                          “Books are the quietest and most constant of friends; 
                          they are the most accessible and wisest of counselors, 
                          and the most patient of teachers.” 
                                               ― Charles W. Eliot
                      </p>

                  </div>
                  <div class="col-sm-6">
<br>
<br><br><br>
                      <p>
                          “Even in literature and art, no man who bothers about originality will ever be original: whereas if you simply try to tell the truth (without caring twopence how often it has been told before) you will, nine times out of ten, become original without ever having noticed it.” ― C.S. Lewis, Mere Christianity
                      </p>


                  </div>

                  </div>

              </div>
            </div></div>
      </div>

    </div>
  </div>