
 <script src="javascripts/booksretrive.js"></script>
 <script> 
     window.onload = function (){fetchgoodreadxml();}
  </script> 

<div class="bookintro">
    <div class="homeparallax" data-parallax="scroll" data-image-src="../img/book2.jpeg" data-z-index="1">

      <div class="row intro-content mx=1">
        <div class="col-md-6 intro-text">
        
      
             <div class="table">            
                        <table  id = "first" > </table>
               </div>       
          
        </div>
      
        <div class="col-md-6 intro-text ">
          <div class="table"> 
    
            <table  id = "authorinfo"></table>  
          </div>
        </div>

            <div class="col-md-12 intro-text table">
          <div>
          
            <table  id = "Authorworks"></table>  
          </div>
        </div>

   
    </div>
  </div>