<script src="javascripts/three.js"></script>
<script src="javascripts/OrbitControls.js"></script>
<script src="javascripts/future3d.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.2.0/Tween.js"></script>    
    

<script src="javascripts//three.js"></script>
<script src="javascripts//OrbitControls.js"></script>
<script src="javascripts//moreobjs.js"></script>
    
    <!-- section-5 -->
     <div class="container-fluid">
        <div class="row text-center">
            <h3 class="col-sm-12 sports-title mt-5">Things I would like to ....</h3>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 sports-sub"><a href="#" class="effect-shine">.....</a></div>
        </div>
     
      </div>
 
   
       <div class="row teamsport " >
            
             <div id="canvas"> 
                <script>  
                init();
                animate();
                </script>      
              </div>     
       </div>