
  <div class="container-fluid">
    <div class="row text-center">
        <h3 class="col-sm-12 sports-title mt-5">"It’s not whether you get knocked down; it’s whether you get up"</h3>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 sports-sub"><a href="#" class="effect-shine">Actions...</a></div>
    </div>
    <div class="row">
      <div class="col-sm-3 s5-col">
          <div class="row">
            <div class="hovereffect2">
            <img src="../img/sail.jpg" class="sports-img"/>
            <div class="overlay2">
                <a href="/sparetimes/teamsports"><h2>Team Sports</h2></a>
                <p class="icon-links">                     
                      <a href="#" data-toggle="tooltip" title="Football">
                          <i class="fas fa-futbol"></i>
                      </a>
                      <a href="#">
                          <i class="fas fa-baseball-ball"></i>
                      </a>
                      <a href="#">
                          <i class="fas fa-volleyball-ball"></i>
                      </a>
                      <a href="#">
                          <i class="fas fa-basketball-ball"></i>
                      </a>
                      <a href="#">
                          <i class="fas fa-football-ball"></i>
                      </a>                
                </p>
            </div>
          </div></div>   
      </div>
      <div class="col-sm-3 s5-col">
          <div class="row"><div class="nohovereffect">
          <img src="../img/jogging.jpg" class="sports-img"/>
            </div></div>
      </div>
      <div class="col-sm-3 s5-col">
          <div class="row"><div class="hovereffect2">
              <img src="../img/sail.jpg" class="sports-img"/>
              <div class="overlay2">
                <a href="/underconstruction"><h2>Running</h2></a>
                  <p class="icon-links">
                      <a href="#">
                          <i class="fas fa-running"></i>
                      </a>
                  </p>
              </div>
            </div></div>
      </div>
      <div class="col-sm-3 s5-col">
          <div class="row"><div class="nohovereffect">
          <img src="../img/jogging.jpg" class="sports-img"/>
            </div></div>
      </div>
    </div>
    <!-- the secon row-->
    <div class="row">
      <div class="col-sm-3 s5-col">
          <div class="row"><div class="nohovereffect">
          <img src="../img/jogging.jpg" class="sports-img"/>
            </div></div>
      </div>
      <div class="col-sm-3 s5-col">
          <div class="row"><div class="hovereffect2">
              <img src="../img/sail.jpg" class="sports-img"/>
              <div class="overlay2">
                <a href="/underconstruction"><h2>Boarding</h2></a>
                  <p class="icon-links">
                    <a href="#">
                        <i class="fas fa-skiing"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-snowboarding"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-surfing"></i>
                    </a>
                  </p>
              </div>
            </div></div>
      </div>
       <div class="col-sm-3 s5-col">
          <div class="row"><div class="nohovereffect">
          <img src="../img/jogging.jpg" class="sports-img"/>
            </div></div>
      </div>
      <div class="col-sm-3 s5-col">
          <div class="row"><div class="hovereffect2">
              <img src="../img/sail.jpg" class="sports-img"/>
              <div class="overlay2">
                <a href="/underconstruction"><h2>More</h2></a>
                  <p class="icon-links">
                    <a href="#">
                        <i class="fas fa-running"></i>
                    </a>
                  </p>
              </div>
            </div></div>
      </div>
    </div> 
  </div>

