<div class="container-fluid">
    <div class="row text-center">
        <h3 class="col-sm-12 sports-title mt-5">"It’s not whether you get knocked down; it’s whether you get up"</h3>
    </div>
    <div class="row text-center">
        <div  class="col-sm-12 sports-sub"><a href="#" class="effect-shine">Actions...</a></div>
    </div>
      <div class="row teamsport" >
        <div class="col-sm-3 s5-col;">
            <img src="../img/sail.jpg" class="sports-img"/>
        </div>  
        
        <div class="col-sm-2 s5-col , middlesportcol">
          <a href="https://www.acmilan.com/en">
            <img src="../img/AcMilanlog.png" class="sports-img"/>
          </a>
          </div>
          <div class="col-sm-6 s5-col ">
            <img src="../img/ACMilan.jpg" class="sports-img"/>
           </div> 
      </div>

      <div class="row teamsport">
            <div class="col-sm-3 s5-col;">
             <img src="../img/sail.jpg" class="sports-img"/>
             </div>      
           <div class="col-sm-2 s5-col , middlesportcol">
            <a href="https://www.nba.com/bulls/">
            <img src="../img/bullslogo.jpg" class="sports-img"/>
            </a>
          </div>   
           <div class="col-sm-6 s5-col ">
           <img src="../img/Bulls.jpg" class="sports-img"/>
          </div>   
      </div>

       <div class="row teamsport">
            <div class="col-sm-3 s5-col;">
             <img src="../img/sail.jpg" class="sports-img"/>
             </div>      
           <div class="col-sm-2 s5-col , middlesportcol">
            <a href="https://www.chicagobears.com/">
           <img src="../img/Bears.jpg" class="sports-img"/>
          </a>
          </div>   
           <div class="col-sm-6 s5-col ">
           <img src="../img/Bears.jpg" class="sports-img"/>
          </div> 
       </div>

      <div class="row teamsport">
            <div class="col-sm-3 s5-col;">
             <img src="../img/sail.jpg" class="sports-img"/>
             </div> 
            <div class="col-sm-2 s5-col , middlesportcol">
              <a href="https://www.mlb.com/cubs">
           <img src="../img/cubs.png" class="sports-img"/> 
           </a>>
            </div> 
           <div class="col-sm-6 s5-col ">
           <img src="../img/cubs.png" class="sports-img"/>
          </div> 
       </div>

        <div class="row teamsport">
            <div class="col-sm-3 s5-col;">
             <img src="../img/sail.jpg" class="sports-img"/>
             </div>      
            <div class="col-sm-2 s5-col , middlesportcol">
              <a href="https://www.nhl.com/blackhawks">
             <img src="../img/bh.jpg" class="sports-img"/>
            </a>
            </div>   
           <div class="col-sm-6 s5-col ">
           <img src="../img/bh.jpg" class="sports-img"/>
          </div> 
       </div> 
</div>
